<div class="loginHeader navbar navbar-light abs text-white">
    <div class="homeLink py-2 ms-3">
        <div class="logoWrapper">
            <img src="/assets/images/logo/logo.svg" alt="Home">
        </div>
    </div>
    <div routerLink="/signup" class="joinLink btn py-1 px-4 me-3 text-white">Join</div>
</div>
<div class="login-body">
    <div class="backGroundImage"><img src="/assets/images/login/loginCompressed.jpg" alt="loginBackground"></div>
    <div class="loginPaddingWrapper d-flex p-3">

        <div class="login-box">
            <div class="loadingIndicator to do"></div>
            <div class="login text-center h5">
                Log In
            </div>
            <div class="text-center">
                <div class="websiteNameWrapper">

                    <span data-bn-type="text" class="urlDecoration">https://</span>
                    mss.com
                </div>
            </div>
            <div *ngIf="invalidCredentialStatus"
                class="invalidCredentialNotification my-3 text-center btn btn-danger d-block">
                <p>Wrong email or password.</p>
            </div>
            <!-- Note that there is no relation of [formGroup] with form type element, we can use it for even normal div also -->
            <form (keyup.enter)="onLoginAttempt($event)" [formGroup]="signInForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input [formControlName]="'email'" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Email" autocomplete="on" required>
                    <!-- <div id="emailHelp" class="form-text">Your email is your username</div> -->
                    <span class="errorInfo text-danger" *ngIf="invalidFormSubmission">

                        <span *ngIf="signInForm.get('email')?.errors?.required" class=" help-block">
                            <i class="errorIcon fas fa-info-circle  me-1"></i>
                            <span>Username is required</span>
                        </span>
                        <span class="help-block" *ngIf="signInForm.get('email')?.errors?.email">
                            <i class="errorIcon fas fa-info-circle  me-1"></i>
                            <span>Invalid username</span>
                        </span>
                    </span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>

                    <input [formControlName]="'password'" type="password" class="form-control"
                        id="exampleInputPassword1" placeholder="Password" autocomplete="on" required>

                    <span class="text-danger errorInfo" *ngIf="invalidFormSubmission">

                        <span class="help-block" *ngIf="signInForm.get('password')?.errors?.required">
                            <i class="errorIcon fas fa-info-circle me-1"></i>
                            <span> Password is required</span>

                        </span>
                    </span>
                </div>
<!--                you need to indicate that it's standalone and therefore it doesn't conflict with the form controls:
    
                [ngModelOptions]="{standalone: true}"-->
                
                <div class="btn customButton  d-block" (click)="onLoginAttempt($event)" #submitButtonTemplateRef >Log In
                    ></div>
                <div class="forgotPassword pt-3 text-center">
                    <p>Don't remember your password?</p>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- <app-footer class="loginFooter text-white"></app-footer> -->

<div data-bn-type="text" class="customLoginFooter">© 2021 mss.com. All rights reserved</div>
