.navbar-brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent;

}

@media (max-width: 991.98px) {
    .navbar-brand {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.navbar-toggler-icon {
    height: 30px;
    width: 24px;
}

.navbar-toggler {
    border: 0;
    /* outline: none; */
}

.navbar-toggler:hover {
    border: 0;
    /* outline: none; */
}

.icon-bell:before {
    content: "\e027";
}

.badge-custom-pos {
    border-radius: 10rem;
    padding-right: .6em;
    padding-left: .6em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: 0;
}

.badge-danger {
    color: #fff;
    background-color: #f86c6b;
}

.badge-warning {
    color: #23282c;
    background-color: #ffc107;
}

.dropdown-menu {
    position: absolute;
    padding: 0;
    font-size: .875rem;
}


.dropdown-item {
    min-width: 180px;
    border-bottom: 1px solid #c8ced3;
    position: relative;
    padding: 10px 20px;
}

.dropdown-header {
    background: #e4e7ea;
    border-bottom: 1px solid #c8ced3;
    line-height: 1.5;
    font-size: .765625rem;
}

.progress-xs {
    height: 4px;
}

.dropdown-menu-lg {
    width: 250px;
}

/* span is by default an inline element which cannot take width and height properties but you may use display: block; or display: inline-block; to set height/width to it. */
.profileImageWrapper {
    height: 25px;
    width: 30px;
    display: block;
}


.img-avatar {
    border-radius: 50em;
      width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.info-custom_pos {
    position: absolute;
    right: 10px;
}

.dropdown-item .image_icon_custom_pos {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #73818f;
    text-align: center;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.message {
    display: flex;
    width: 100%;
    align-items: center;
}

.messageInfoWrapper {
    width: 75%;
}


.nameTimeInfo {
    display: flex;
    justify-content: space-between;
}

.small, small {
    font-size: 80%;
    font-weight: 400;

}