<!-- means at large screen diplay none, since we have not specified for other screens, it will visibe in other screen -->
<button type="button" appsidebartoggler="" class="d-lg-none navbar-toggler custom-side-nav-toggler">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" [routerLink]="['/dashboard']">
    <div class="logoWrapper">
        <!-- <img src="assets/images/logo/logo.svg" width="89" height="35" alt="Mss Logo" class="logo-img"> -->
        <img src="assets/images/logo/logo.svg" alt="Mss Logo" class="logo-img">
    </div>
</a>
<button type="button" class="d-none d-lg-block navbar-toggler custom-side-nav-toggler">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- hide on screens smaller than md(note that it means it will be there for lg, xl also, for removing lg, mentioned it specifically)-->
<!-- <ul class="navbar-nav d-none d-md-block d-lg-none"> -->
<ul class="navbar-nav d-none d-lg-flex">
    <li class="nav-item px-3"><a href="#" [routerLink]="['/dashboard']" class="nav-link">Dashboard</a></li>
    <li class="nav-item px-3"><a href="#" class="nav-link">Users</a></li>
    <li class="nav-item px-3"><a href="#" class="nav-link">Settings</a></li>
</ul>

<!-- margin left auto -->
<ul class="navbar-nav ms-auto">

    <!-- hide on screens smaller than large -->
    <li dropdown="" placement="bottom right" class="nav-item dropdown d-none d-lg-block">
        <!-- Regardless of whether you call your dropdown via JavaScript or instead use the data-api, data-bs-toggle="dropdown" is
        always required to be present on the dropdown’s trigger element. -->

        <!-- aria-haspopup="true" notify screen reader users that a 'Popup' is attached by adding the attribute aria-haspopup="true" to the triggering
        element, but this is not a good idea. ... In short, don't use aria-haspopup unless you are triggering a menu. same is for role attribute -->

        <!-- The aria-labelledby attribute establishes relationships between objects and their label(s), and its value should be one
        or more element IDs, which refer to elements that have the text needed for labeling. List multiple element IDs in a
        space delimited fashion.

        This idea is similar to how the "for" attribute is used to link a LABEL to an INPUT.

        Assistive technology, such as screen readers, use this attribute to catalog the objects in a document so that users can
        navigate between them. Without an element ID, the assistive technology cannot catalog the object. -->

        <!-- basically whatever starts with aria is related to specification provided by WAI-ARIA and some other attributes like role and other are for touch screen reader related devices-->

        <!-- note that data-bs-target is optional, as bootstrap will take the div having class of dropdown-menu as dropdown, but if we have
        suppose multiple drowdowns depending upon some condition, we can show our particular drop down by pointing to
        the particular type of element having drop-down-menu as class by using it's id attribute -->
        <a data-bs-toggle="dropdown" id="simple-dropdown" href="#" role="button" aria-haspopup="true" class="nav-link"
            aria-expanded="false" data-bs-target="#pointingToTheSpecificDropDownMenuForMultipleDropDowns">
            <i class="far fa-bell icon-bell image_icon_custom_pos"></i>
            <!-- Badges can be used as part of links or buttons to provide a counter. -->
            <span class="badge badge-custom-pos badge-danger">5</span>
        </a>
        <!-- <div id="pointingToTheSpecificDropDownMenuForMultipleDropDowns" class="dropdown-menu dropdown-menu-right dropdown-menu-lg" style="left: auto; right: 0px;">
            <a href="#" class="dropdown-item">
                <i class="fas fa-user text-success"></i>
                <i class="icon-user-follow text-success"></i>
                New user registered
            </a>
        </div> -->
        <!-- position absolute relative to li element  -->
        <div id="pointingToTheSpecificDropDownMenuForMultipleDropDowns" aria-labelledby="simple-dropdown"
            class="dropdown-menu dropdown-menu-right dropdown-menu-lg" style="left: auto; right: 0px;">
            <div class="dropdown-header text-center">
                <strong>You have 5 notifications</strong>
            </div>

            <a href="#" class="dropdown-item">
                <i class="fas fa-user text-success image_icon_custom_pos"></i>
                <!-- <i class="image_icon_custom_pos icon-user-follow text-success"></i> -->
                New user registered
            </a>

            <a href="#" class="dropdown-item">
                <i class="icon-user-unfollow text-danger image_icon_custom_pos">
                </i>
                User deleted
            </a>

            <a href="#" class="dropdown-item">
                <i class="icon-chart text-info image_icon_custom_pos"></i>
                Sales report is ready
            </a>

            <a href="#" class="dropdown-item">
                <i class="icon-basket-loaded text-primary image_icon_custom_pos"></i>
                New client
            </a>

            <a href="#" class="dropdown-item">
                <i class="icon-speedometer text-warning image_icon_custom_pos"></i>
                Server overloaded
            </a>

            <div class="dropdown-header text-center">
                <strong>Server</strong>
            </div>
            <a href="#" class="dropdown-item">
                <div class="text-uppercase mb-1">
                    <small><b>CPU Usage</b></small>
                </div>
                <span class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-info" style="width: 25%;"></div>
                </span>
                <small class="text-muted">348 Processes. 1/4 Cores.</small>
            </a>

            <a href="#" class="dropdown-item">
                <div class="text-uppercase mb-1">
                    <small><b>Memory Usage</b></small>
                </div>
                <span class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-warning" style="width: 70%;">
                    </div>
                </span>
                <small class="text-muted">11444GB/16384MB</small>
            </a><a href="#" class="dropdown-item">
                <div class="text-uppercase mb-1"><small><b>SSD 1 Usage</b></small></div><span
                    class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-danger" style="width: 95%;"></div>
                </span><small class="text-muted">243GB/256GB</small>
            </a>
        </div>
        <!---->
    </li>

    <!---->
    <!-- hide on screens smaller than large -->
    <li dropdown="" placement="bottom right" class="nav-item dropdown d-none d-lg-block">
        <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" dropdowntoggle="" class="nav-link"
            aria-expanded="false">
            <i class="fas fa-list image_icon_custom_pos"></i>
            <span class="badge badge-custom-pos bg-warning text-dark">5</span>
        </a>
        <div aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right dropdown-menu-lg"
            style="left: auto; right: 0px;">
            <div class="dropdown-header text-center"><strong>You have 5 pending tasks</strong></div><a href="#"
                class="dropdown-item">
                <div class="small mb-1">Upgrade NPM &amp; Bower <span class="float-right"><strong>0%</strong></span>
                </div><span class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-info" style="width: 0%;"></div>
                </span>
            </a><a href="#" class="dropdown-item">
                <div class="small mb-1">ReactJS Version <span class="float-right"><strong>25%</strong></span></div><span
                    class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-danger" style="width: 25%;"></div>
                </span>
            </a><a href="#" class="dropdown-item">
                <div class="small mb-1">VueJS Version <span class="float-right"><strong>50%</strong></span></div><span
                    class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-warning" style="width: 50%;"></div>
                </span>
            </a><a href="#" class="dropdown-item">
                <div class="small mb-1">Add new layouts <span class="float-right"><strong>75%</strong></span></div><span
                    class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-info" style="width: 75%;"></div>
                </span>
            </a><a href="#" class="dropdown-item">
                <div class="small mb-1">Angular 2 Cli Version <span class="float-right"><strong>100%</strong></span>
                </div><span class="progress progress-xs">
                    <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                        class="progress-bar bg-success" style="width: 100%;"></div>
                </span>
            </a><a href="#" class="dropdown-item text-center"><strong>View all tasks</strong></a>
        </div>
        <!---->
    </li>

    <!---->
    <li dropdown="" placement="bottom right" class="nav-item dropdown d-none d-lg-block">
        <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" dropdowntoggle="" class="nav-link"
            aria-expanded="false">
            <i class="far fa-envelope image_icon_custom_pos"></i>
            <span class="badge badge-custom-pos bg-info text-dark">4</span>
        </a>

        <div aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right dropdown-menu-lg"
            style="left: auto; right: 0px;">

            <div class="dropdown-header text-center">
                <strong>You have 4 messages</strong>
            </div>


            <a href="#" class="dropdown-item">

                <!-- message notification view component -->
                <!-- lesson to learn- a divison inside a division takes full width of the parent as we know div is a block level element, (assuming there is not flex element in ancestor chain)
                but here is a twist that if a div is in inside a flex, unless we don't specify it's widht or height, it will resize according to it's children and may overflow out of flex parent(yes even if parent flex is fixed size, otherwise flex parent will also go with it)
                 -->
                <div class="message">
                    <div class="me-3">
                        <div class="avatar">
                            <img src="assets/images/avatars/profile1.jpeg" alt="profile_photo" class="img-avatar">
                            <span class="avatar-status badge-success"></span>
                        </div>
                    </div>


                    <div class="messageInfoWrapper">

                        <div class="nameTimeInfo">
                            <small class="text-muted">Mss2</small>
                            <small class="text-muted">Just now</small>
                        </div>

                        <div class="text-truncate font-weight-bold">
                            <!-- <span class="fa fa-exclamation text-danger"></span> -->
                            ! Important message
                        </div>


                        <!-- For longer content, we can add a .text-truncate class to truncate the text with an ellipsis. Requires display:
                        inline-block or display: block. -->
                        <div class="small text-muted text-truncate">
                            This is a test message to check if the overflowed text
                            are truncated or not.
                        </div>

                    </div>


                </div>

            </a>



            <a href="#" class="dropdown-item">
                <div class="message">
                    <div class="py-3 mr-3 float-left">
                        <div class="avatar"><img src="assets/img/avatars/6.jpg" alt="profile_photo"
                                class="img-avatar"><span class="avatar-status badge-warning"></span></div>
                    </div>
                    <div>
                        <small class="text-muted">John Doe</small>
                        <small class="text-muted float-right mt-1">5 minutes
                            ago</small>
                    </div>

                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                    <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt...</div>

                </div>
            </a><a href="#" class="dropdown-item">
                <div class="message">
                    <div class="py-3 mr-3 float-left">
                        <div class="avatar"><img src="assets/img/avatars/5.jpg" alt="profile_photo"
                                class="img-avatar"><span class="avatar-status badge-danger"></span></div>
                    </div>
                    <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">1:52
                            PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                    <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt...</div>
                </div>
            </a><a href="#" class="dropdown-item">
                <div class="message">
                    <div class="py-3 mr-3 float-left">
                        <div class="avatar"><img src="assets/img/avatars/4.jpg" alt="profile_photo"
                                class="img-avatar"><span class="avatar-status badge-info"></span></div>
                    </div>
                    <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">4:03
                            PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                    <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt...</div>
                </div>
            </a><a href="#" class="dropdown-item text-center"><strong>View all messages</strong></a>
        </div>
        <!---->
    </li>

    <!---->
    <li class="nav-item d-none d-lg-block">
        <a href="#" class="nav-link">
            <i class="fas fa-map-marker-alt image_icon_custom_pos"></i>
            <!-- <i class="icon-location-pin"></i> -->
        </a>
    </li>

    <li dropdown="" placement="bottom right" class="nav-item dropdown">
        <a data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" dropdowntoggle="" class="nav-link"
            aria-expanded="false">
            <div class=" profileImageWrapper m-auto">
                <img src="assets/images/my-profile/avatar.jpg" alt="profile_photo" class="img-avatar">
            </div>
        </a>

        <div aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right"
            style="left: auto; right: 0px;">

            <div class="dropdown-header text-center">
                <strong>Account</strong>
            </div>

            <a href="#" class="dropdown-item">
                <i class="far fa-bell icon-bell image_icon_custom_pos"></i>
                Updates
                <span class="badge info-custom_pos bg-info text">42</span>
            </a>

            <a href="#" class="dropdown-item">
                <i class="far fa-envelope image_icon_custom_pos"></i>
                Messages
                <span class="badge info-custom_pos bg-success">42</span>
            </a>

            <a href="#" class="dropdown-item">
                <i class="fa fa-tasks image_icon_custom_pos"></i>
                Tasks
                <span class="badge info-custom_pos bg-danger">42</span>
            </a>


            <a href="#" class="dropdown-item">
                <i class="fa fa-comments image_icon_custom_pos"></i>
                Comment
                <span class="badge info-custom_pos bg-warning">42</span>
            </a>




            <div class="dropdown-header text-center">
                <strong>Settings</strong>
            </div>

            <a href="#" class="dropdown-item"><i class="fa fa-user image_icon_custom_pos"></i> Profile</a>

            <a href="#" class="dropdown-item"><i class="fa fa-wrench image_icon_custom_pos"></i>Setting</a>


            <a href="#" class="dropdown-item">
                <i class="fas fa-rupee-sign image_icon_custom_pos"></i>
                Payments
                <span class="badge info-custom_pos bg-dark">42</span>
            </a>


            <a href="#" class="dropdown-item">
                <i class="fas fa-file image_icon_custom_pos"></i>
                <!-- <i class="fa fa-file"></i> -->
                Projects
                <span class="badge info-custom_pos bg-primary">42</span></a>


            <div class="divider"></div>

            <a href="#" class="dropdown-item">
                <i class="fas fa-shield-alt image_icon_custom_pos"></i>
                Lock account
            </a>

            <a href="#" class="dropdown-item"><i class="fa fa-lock image_icon_custom_pos"></i> Logout</a>

        </div>
        <!---->
    </li>
    <!---->

</ul>


<button type="button" appasidemenutoggler="" class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
</button>