<div class="container-fluid wholeWrapper">
    <p class="createTaskHeader text-center bg-primary text-white py-2">New Task</p>
            <div *ngFor="let reason of invalidityReasons"   [@customLeftToRightAngularAnimation] class="alert alert-danger mb-0 py-2 text-center" role="alert">
                {{ reason }}
            </div>
    <form class="createWrapper px-3" #myCustomFormLocalReference="ngForm">

        <div class="row customField">
            <label for="taskTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="taskTitle" required ngModel name="titleName" [attr.data-viewName]="'Title'">
            </div>
        </div>

        <div class="row customField">
            <label for="taskDetail" class="col-sm-2 col-form-label">Task Detail</label>
            <div class="col-sm-12">
                <textarea type="textarea" maxlength="500" class="form-control" id="taskDetail" required ngModel name="taskDetail" [attr.data-viewName]="'Task Detail'"> </textarea>
            </div>
        </div>
        <div class="row customField">
            <div class="col text-center">
                <div class="btn btn-primary px-4" (click)="onSubmit()">Add</div>
                <div class="btn btn-primary ms-3 px-3" (click)="onReset()">Reset/New</div>

            </div>

        </div>

    </form>
    <div  *ngFor="let messages of successMessages; let i = index">
       <div [ngClass]="{'customAnimation': validSubmitClickIndicator}" class="alert alert-success py-2 text-center" role="alert"> {{messages}} </div>
    </div>
</div>