<!-- <nav>
    <div class="nav nav-tabs mt-2 bg-light" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">
            <a routerLink="list/all">All</a>
        </button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-done" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">
            <a routerLink="list/done">Done</a>
            </button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">
            <a routerLink="list/pending">Pending</a>
            </button>
    </div>
</nav> -->


<!--
    RouterLinkActive
    DIRECTIVE
    Tracks whether the linked route of an element is currently active, and allows you to specify one or more CSS classes to
    add to the element when the linked route is active.
    basically here it is setting the class as 'active' for the currently linked active route, then for that .active we
    can apply our own css, but since we are using bootstrap here, it is applying the css for .active for us
 -->


<nav>
    <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
        <!-- routerLink can be attached to a tag, button tag, div tag fine, not tested for others  -->
        <!-- routerLinkActive="class_Name" here class name of active is decorated by bootstrap that is why it is used here, we can use our own custom class also and decorate the element according to that class -->
        <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" #rla="routerLinkActive"
            [routerLink]="['/dashboard', 'todo', currentCategory.getCategoryId()]" class="nav-link"
            title="view all tasks" type="button" role="tab">
            Detail
        </button>

        <button routerLink="list/pending" routerLinkActive="active" class="nav-link" title="view pending tasks"
            type="button" role="tab">
            Pending
        </button>

        <button routerLinkActive="active" routerLink="list/all" class="nav-link" title="view all tasks" type="button"
            role="tab">
            All
        </button>

        <button routerLink="list/done" routerLinkActive="active" class="nav-link" title="view done tasks" type="button"
            role="tab">
            Done
        </button>

        <!-- routerLink starting with '/' means relative to root path i.e '', otherwise from current activated route path -->
        <button routerLink="add" routerLinkActive="active" class="nav-link" title="add task" type="button" role="tab">
            Add
        </button>

        <div class="ms-auto d-flex">
            <!--
            <button routerLink="/todo" class="nav-link " type="button" title="filter" role="tab">
                <i class=" infoIcon fas fa-info-circle"></i>
            </button> -->

            <!--
Tracks whether the linked route of an element is currently active, and allows you to specify one or more CSS classes to
add to the element when the linked route is active. -->
            <!-- below if any of the child link is currently active link, then our routerLinkActive directive will do it's work -->
            <!-- //note that below is a kind of hack to show the sort icon, same thing could have been done though
                activated route in ts file and doing the comparison and marking some variable as a indicator
                to show the sort button but that felt like hardcoded to me, since hardcoded was the only way
                template file is even better place to do the things hardcoded way
             -->
            <div #requiredRoute="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="['inValidDummyClass1', 'invalidDummyClass2']"
                style="pointer-events: none; height: 0px; width: 0px;">
                <div routerLink="list/all"></div>
                <div routerLink="list/done"></div>
                <div routerLink="list/pending"></div>
            </div>

            <button *ngIf="requiredRoute.isActive" class="nav-link " type="button" title="filter" role="tab">
                <!-- <i class=" infoIcon fas fa-info-circle"></i> -->
                <i class="filterIcon fas fa-sort"></i>
            </button>

            <button routerLink="/dashboard/todo" class="nav-link me-2" type="button" title="back to all categories"
                role="tab">
                <i class="fas fa-arrow-left"></i>
            </button>

        </div>
    </div>
</nav>

<div class="container-fluid px-1 mt-2 customContainer">
    <!-- https://angular.io/api/router/RouterLinkActive -->
    <router-outlet *ngIf="!rla.isActive"></router-outlet>
    <app-category-detail [currentCategoryDetail]="currentCategory" *ngIf="rla.isActive"></app-category-detail>
</div>