<!-- <nav>
    <div class="nav nav-tabs mt-2 bg-light" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">
            <a routerLink="list/all">All</a>
        </button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-done" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">
            <a routerLink="list/done">Done</a>
            </button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">
            <a routerLink="list/pending">Pending</a>
            </button>
    </div>
</nav> -->


<!--
    RouterLinkActive
    DIRECTIVE
    Tracks whether the linked route of an element is currently active, and allows you to specify one or more CSS classes to
    add to the element when the linked route is active.
    basically here it is setting the class as 'active' for the currently linked active route, then for that .active we
    can apply our own css, but since we are using bootstrap here, it is applying the css for .active for us
 -->


<nav>
    <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
        <!-- routerLink can be attached to a tag, button tag, div tag fine, not tested for others  -->
        <button routerLinkActive="active" routerLink='' class="nav-link" title="view all tasks" type="button"
            role="tab">
            Detail
        </button>

        <button routerLinkActive="active" routerLink="list/all" class="nav-link" title="view all tasks" type="button"
            role="tab">
            All
        </button>

        <button routerLink="list/done" routerLinkActive="active" class="nav-link" title="view done tasks" type="button"
            role="tab">
            Done
        </button>
        <button routerLink="list/pending" routerLinkActive="active" class="nav-link" title="view pending tasks"
            type="button" role="tab">
            Pending
        </button>
        <!-- routerLink starting with '/' means relative to root path i.e '', otherwise from current activated route path -->
        <button routerLink="add" routerLinkActive="active" class="nav-link" title="add task" type="button" role="tab">
            Add
        </button>

        <div class="ms-auto d-flex">
<!--
            <button routerLink="/todo" class="nav-link " type="button" title="filter" role="tab">
                <i class=" infoIcon fas fa-info-circle"></i>
            </button> -->

            <button class="nav-link " type="button" title="filter" role="tab">
                <!-- <i class=" infoIcon fas fa-info-circle"></i> -->
                <i class="filterIcon fas fa-sort"></i>
            </button>

            <button routerLink="/dashboard/todo" class="nav-link me-2" type="button" title="back to all categories"
                role="tab">
                <i class="fas fa-arrow-left"></i>
            </button>

        </div>
    </div>
</nav>

<div class="container-fluid px-1 mt-2 customContainer">
    <router-outlet></router-outlet>
</div>