:host {
    align-self: center;
}
.customFilter {
    height: 80%;
    color: rgb(36, 41, 46) !important;
    background-color: rgb(250, 251, 252);
    margin: 0 0.5rem;
    border: 1px solid rgba(27, 31, 35, 0.15);
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: none;
    outline-color: rgb(36, 41, 46);
}

.dropdown-toggle {
    z-index: 1000;
}

.dropdown-toggle::after {
    margin-left: .405rem !important;
}

.customFilter:hover {
    border: 1px solid rgba(27, 31, 35, 0.25);
    background-color: rgb(235, 237, 240) !important;
}

.clickable {
    cursor: pointer;
}

.customDropdownProperty {
    font-size: 12px !important;
}

.dropdown-menu {
    padding: 0;
    z-index: 1000;
}

.dropdown-item {
    font-size: 12px!important;
    border-bottom: 1px solid rgba(27, 31, 35, 0.15);
    padding: 7px 16px;
}


.selectMenuHeader {
    font-weight: 500;
    padding: 7px 16px;
    margin-left: 0;
    border-bottom: 1px solid rgba(27, 31, 35, 0.15);
}
