<nav aria-label="..." class="m-auto">
    <ul class="pagination m-0">
        
        <li class="page-item" [ngClass]="{disabled: currentPageIndicatorList[0] == 1}">
            <span class="page-link" (click)="updateCurrentPage(itemsInfoPage.pageNumber - 1)">Previous</span>
        </li>
        
        
        <li *ngFor="let pageNumber of currentPageIndicatorList" class="page-item">
            <span class="page-link" [ngClass]="{active: pageNumber == itemsInfoPage.pageNumber}" (click)="updateCurrentPage(pageNumber)" >{{ pageNumber }}</span>
        </li>
        
        
        <li class="page-item" [ngClass]="{disabled: currentPageIndicatorList[currentAvailablePageWindowSize - 1] == itemsInfoPage.totalPages}">
            <span class="page-link" (click)="updateCurrentPage(itemsInfoPage.pageNumber + 1)">Next</span>
        </li>
        
    </ul>
</nav>
