<!-- <div class="container">
    test
    <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, ."</h1>
</div>

<h1 class="display-3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, ."</h1>


<p class="lead text-center">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, ."
</p>

<blockquote class="blockquote text-center">
    <p class="mb-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote> -->
<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button> -->

<!-- <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ml_04VfhrNs"></iframe>
</div> -->

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ml_04VfhrNs" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> -->

<!-- <button type="button" class="btn btn-link">Link</button> -->

<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-4 bg-success">1</div>
        <div class="col btn-warning">2</div>
    </div>

<div class="row mt-3">
    <div class="col-9 bg-success">1</div>
    <div class="col btn-warning">2</div>
</div>


<div class="row mt-3">
    <div class="col-3 bg-success">1</div>
    <div class="col-4 btn-warning">2</div>
    <div class="col btn-info">3</div>
</div> -->


<div class="team-section">
    <div class="container text-center d-flex">
        <div class="logo-wrapper m-auto">
            <img src="/assets/images/logo.png" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <div class="sec-title">
                <h2 class="display-2 text-light">Our Team</h2>
                <h3 class="lead text-light">The small element is used to create a lighter secondary text in any
                    heading
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col mt-3 ms-3">
            <div class="team-box">
                <div class="d-flex team-photo">
                    <div class="m-auto team-img">
                        <img class="rounded-circle" src="/assets/images/team-1.jpeg" alt="">
                    </div>
                </div>
                <div class="team-title">
                    <p>First user</p>
                    <p>Some Job</p>
                    <p>lorem ipsum dolor sir amet consectetur sdf kjsdfsdfkjl kl sdf lkjsadf sdf jlsjdf</p>
                </div>
                <button class="btn btn-outline-light btn-block">See Profile</button>
            </div>
        </div>

        <div *ngFor="let item of sampleArray(10)" class="col mt-3 ms-3 me-3">
            <div class="team-box">
                <div class="d-flex team-photo">
                    <div class="m-auto team-img">
                        <img class="rounded-circle" src="/assets/images/team-3.jpg" alt="">
                    </div>
                </div>

                <div class="team-title">
                    <p>First user</p>
                    <p>Some Job</p>
                    <p>lorem ipsum dolor sir amet consectetur sdf kjsdfsdfkjl kl sdf lkjsadf sdf jlsjdf</p>
                </div>
                <button class="btn btn-outline-light btn-block mb-3">See Profile</button>
            </div>
        </div>



    </div>

</div>