<div *ngIf="tasks.length > 0 else emptyTasksTemplateRef" class="tab-pane fade show active" id="nav-all" role="tabpanel"
    aria-labelledby="nav-home-tab">

    <div class="row">
        <div *ngFor="let cur of tasks" class="col-sm-6 col-md-4 col-lg-3 mb-2">
            <app-to-do-box [unitTodo]="cur" (viewEventNotifier)="onChoosingViewDetail($event)"></app-to-do-box>
        </div>
    </div>
    <div class="paginationInfo d-flex mb-2">
        <app-pagination class="m-auto">
        </app-pagination>
    </div>
</div>

<!--
ng-template is used to render HTML in a template but is never rendered directly. If you add a ng-template tag to your
template, it and everything inside it will be replaced by a comment. It might seem a bit useless, but it is rarely used
alone. It can be for example used to define the else case of an *ngIf
-->
<ng-template #emptyTasksTemplateRef>
    <div class="emptyTaskList d-flex">
        <!-- <img src="assets/images/to-do/empty-category/1.jpg" alt="no tasks of this type"> -->
        <h2 class="m-auto text-center">Wow, such empty</h2>
    </div>
</ng-template>