<ng-container *ngIf="tasksInfoPage.results.length > 0">
    <div class="tab-pane fade show active">
        <div class="row">
            <div *ngFor="let cur of tasksInfoPage.results" class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
                <app-to-do-box [unitTodo]="cur" (viewEventNotifier)="onChoosingViewDetail($event)"></app-to-do-box>
            </div>
        </div>
    </div>
    
    <div *ngIf="tasksInfoPage.totalPages > 1" class="paginationInfo d-flex mb-2">
        <app-pagination [itemsInfoPage]="tasksInfoPage" class="m-auto">
        </app-pagination>
    </div>
</ng-container>

<ng-container *ngIf="tasksInfoPage.results.length === 0">
    <div class="emptyTaskList d-flex">
        <!-- <img src="assets/images/to-do/empty-category/1.jpg" alt="no tasks of this type"> -->
        <h2 class="m-auto text-center">Wow, such empty</h2>
    </div>
</ng-container>
<!--
ng-template is used to render HTML in a template but is never rendered directly. If you add a ng-template tag to your
template, it and everything inside it will be replaced by a comment. It might seem a bit useless, but it is rarely used
alone. It can be for example used to define the else case of an *ngIf
-->
