<div class="profileDetailWrapper">
    <div class="login-box">
        <div class="loadingIndicator to do"></div>
        <div class="login text-center h5">
            Profile Details
        </div>
        <div class="text-center">
            <div class="websiteNameWrapper">
                
                <span data-bn-type="text" class="urlDecoration">https://</span>
                mss.com
            </div>
        </div>
        <!-- Note that there is no relation of [formGroup] with form type element, we can use it for even normal div also -->
        <form [formGroup]="profileEditForm">
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input autocomplete="on" type="text" class="form-control" placeholder="First Name"
                               aria-label="Server">
                    </div>
                </div>
        
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input autocomplete="on" type="text" class="form-control" placeholder="Last Name"
                               aria-label="Server">
                    </div>
                </div>
        
                <span class="text-danger" *ngIf="invalidFormSubmission">
                        <span *ngIf="profileEditForm.get('email')?.errors?.required" class=" help-block">
                            Username is required
                        </span>
                        <span class="help-block" *ngIf="profileEditForm.get('email')?.errors?.email">
                            Invalid username
                        </span>
                </span>
    
            </div>
    
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label  class="form-label">First Name</label>
                        <input autocomplete="on" type="text" class="form-control" placeholder="First Name"
                               aria-label="Server">
                    </div>
                </div>
                
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label  class="form-label">Last Name</label>
                        <input autocomplete="on" type="text" class="form-control" placeholder="Last Name"
                               aria-label="Server">
                    </div>
                </div>
                
                <span class="text-danger" *ngIf="invalidFormSubmission">
                        <span *ngIf="profileEditForm.get('email')?.errors?.required" class=" help-block">
                            Username is required
                        </span>
                        <span class="help-block" *ngIf="profileEditForm.get('email')?.errors?.email">
                            Invalid username
                        </span>
                </span>
            
            </div>
    
    
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="form-label">Creation Time</label>
                        <input autocomplete="on" type="email" class="form-control" placeholder="First Name"
                               aria-label="Server">
                    </div>
                </div>
        
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label  class="form-label">Last Modified</label>
                        <input autocomplete="on" type="string" class="form-control" placeholder="Last Name"
                               aria-label="Server">
                    </div>
                </div>
        
                <span class="text-danger" *ngIf="invalidFormSubmission">
                        <span *ngIf="profileEditForm.get('email')?.errors?.required" class=" help-block">
                            Username is required
                        </span>
                        <span class="help-block" *ngIf="profileEditForm.get('email')?.errors?.email">
                            Invalid username
                        </span>
                </span>
    
            </div>
            <div type="submit" class="btn btn-primary customEditButton" (click)="onEditAttempt($event)">Edit
            </div>
        </form>
    </div>
</div>
