<div class="profileDetailWrapper">
    <div class="login-box">
        <div class="loadingIndicator to do"></div>
        <div class="login text-center h5">
            Profile Details
        </div>
        <div class="text-center">
            <div class="websiteNameWrapper">
                
                <span data-bn-type="text" class="urlDecoration">https://</span>
                mss.com
            </div>
        </div>
        <!-- Note that there is no relation of [formGroup] with form type element, we can use it for even normal div also -->
        <form [formGroup]="profileEditForm">
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="form-label">Username</label>
                        <input autocomplete="on" type="text" class="form-control disabled" [placeholder]="currentUserDetail.username"
                               aria-label="Server">
                    </div>
                </div>
        
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input autocomplete="on" type="text" class="form-control disabled" [placeholder]="currentUserDetail.email"
                               aria-label="Server">
                    </div>
                </div>
    
            </div>
    
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label  class="form-label">First Name</label>
                        <input *ngIf="profileEditMode" [formControlName]="'firstName'" autocomplete="on" type="text" class="form-control editableInput" placeholder="First Name"
                               aria-label="Server">
                        <input *ngIf="!profileEditMode"  autocomplete="on" type="text" class="form-control disabled" [placeholder]="currentUserDetail.firstName"
                               aria-label="Server">
                    </div>
                    <span class="text-danger" *ngIf="invalidFormSubmission">
                            <span *ngIf="profileEditForm.get('firstName')?.errors?.required" class=" help-block errorInfo">
                                 <i class="errorIcon fas fa-info-circle me-1"></i>
                                First name is required
                            </span>
                        </span>
                </div>
                
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label  class="form-label">Last Name</label>
                        <input *ngIf="profileEditMode" [formControlName]="'lastName'" autocomplete="on" type="text" class="form-control editableInput" placeholder="Last Name"
                               aria-label="Server">
                        <input *ngIf="!profileEditMode" autocomplete="on" type="text" class="form-control disabled " [placeholder]="currentUserDetail.lastName"
                               aria-label="Server">
                    </div>
                    <span class="text-danger" *ngIf="invalidFormSubmission">
                            <span *ngIf="profileEditForm.get('lastName')?.errors?.required" class=" help-block errorInfo">
                                 <i class="errorIcon fas fa-info-circle me-1"></i>
                                Last name is required
                            </span>
                    </span>
                </div>
            
            </div>
    
    
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="form-label">Creation Time</label>
                        <input autocomplete="on" type="email" class="form-control disabled" [placeholder]="currentUserDetail.creationTime"
                               aria-label="Server">
                    </div>
                </div>
    
            </div>
            
            <div *ngIf="!profileEditMode" type="submit" class="btn btn-primary customEditButton" (click)="onEditAttempt($event)">Edit
            </div>
            <div *ngIf="profileEditMode" type="submit" class="btn btn-primary customEditButton" (click)="onSaveAttempt($event)">Save
            </div>
        </form>
    </div>
</div>
