.main_profile_logo_wrapper {
    border-radius: 50%;
    background-color: rgb(0, 126, 182);
    position: relative;
}

.shortName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: .01rem;
    fill: #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}


