<div class="container-fluid mb-3 wholeWrapper">
    <p class="createTaskHeader text-center text-white py-2 mb-0">Task Detail</p>

    <div *ngIf="currentToDoTask" class="contentWrapper pb-3">
        <div class="udButtonWrapper mx-4 py-3">
            <!-- <div *ngIf="!editMode" class="btn btn-primary px-3 py-1 me-auto" (click)="goBack()">Back</div> -->
            <button *ngIf="!editMode" [routerLink]="['..']" class="px-3 py-1 me-auto text-primary border-0 bg-transparent"
                type="button" title="back to all tasks">
                <i class="fas fa-arrow-left"></i>
            </button>

            <!-- <div *ngIf="editMode" class=" btn btn-danger px-3 py-1 me-auto" (click)="cancelEdit()">Cancel</div> -->
            <button *ngIf="editMode" (click)="cancelEdit()" class="px-3 py-1 text-primary me-auto border-0 bg-transparent">
                <i class="far fa-window-close fa-lg"></i>
            </button>


            <!-- <div *ngIf="!editMode" class="btn btn-danger px-3 py-1 me-2" (click)="onTaskDelete()">Delete</div> -->
            <button *ngIf="!editMode" (click)="onTaskDeleteAction()"
                class="px-3 py-1 me-2 text-danger border-0 bg-transparent">
                <i class="fas fa-trash-alt fa-lg"></i>
            </button>
            <!-- <div *ngIf="!editMode" class="udButton btn btn-primary px-3 py-1" (click)="onTaskEdit()">Edit</div> -->
            <button *ngIf="!editMode" (click)="onTaskEdit()" class="px-3 py-1 text-primary border-0 bg-transparent">
                <i class="far fa-edit fa-lg"></i>
            </button>

            <!-- <div *ngIf="editMode" class="btn btn-primary px-3 py-1 me-3" (click)="onUpdate()">Update</div> -->
            <button *ngIf="editMode" (click)="onTaskSaveAction()" class="px-3 py-1 me-3 text-success border-0 bg-transparent">
                <i class="far fa-save  fa-lg"></i>
            </button>

        </div>

        <div class="detailWrapper rounded mx-4 px-3" [formGroup]="taskEditForm">
            <div class="individualField my-3">
                <h6>ToDoTask Id</h6>
                <p class="lead">todoId of task</p>
            </div>
            <div [ngClass]="{'haveCustomContentEditableChild': this.editMode}" class="individualField my-3">
                <h6>Task Title</h6>
                <!-- // example of attribute directive, basically we enclose a native html attribute in square bracket and
                // then it becomes a directive and now we can control the attribute based on our logics  -->
                <!-- <p #taskTitle  [contentEditable]="this.editMode" class="lead"> Title of task</p> -->
                <p #taskTitle  *ngIf="!editMode" class="lead"> Title of task</p>
                <input *ngIf="editMode" type="text" [formControlName]="'taskTitle'">
            </div>
            <!-- g-0 equivalent to no-gutter, gutter is used for maintaining spacing between col of the rows -->
            <div [ngClass]="{'haveCustomContentEditableChild': this.editMode}" class="individualField my-3">
                <h6><span>Task Detail</span></h6>
                <p #taskDetail *ngIf="!editMode" class="lead">Detail of task-Lorem Ipsum is simply dummy
                    text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially
                    unchanged. It was popularized in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <input *ngIf="editMode" type="text" [formControlName]="'taskContent'">
            </div>
            <div class="individualField my-3">
                <h6>Creation Time</h6>
                <p class="lead">creationTime of task</p>
            </div>
            <div class="individualField my-3">
                <h6>Updation Time</h6>
                <p class="lead">updationTime of task</p>
            </div>
            <div class="individualField  my-3">
                <h6>Task Status</h6>
                <p class="lead">taskStatus of task</p>
            </div>

        </div>

        <div *ngIf="!editMode" class="text-center pt-3">
            <div class="btn btn-success px-3 py-1 me-3">Mark as Done</div>
        </div>
    </div>


    <!-- //local reference kind of like pointer to the element or we can treat the div like a variable through this -->
    <div *ngIf="!currentToDoTask" #errorElement class="deletedIndicator">
        <!-- <div *ngIf="!editMode" class="btn btn-primary px-3 py-1 mt-3 ms-4" (click)="goBack()">Back</div> -->
        <button *ngIf="!editMode" [routerLink]="['..']" class="px-3 py-1 mt-3 ms-4 border-0" type="button"
            title="back to all tasks">
            <i class="fas fa-arrow-left"></i>
        </button>
        <img src="assets/images/to-do/deleted.png">
        <p class="lead text-center"><b>Task doesn't exist</b> </p>
    </div>

</div>

<!-- Modal -->
<!-- adding a template reference of this element to avoid some global mis-happening related to model dialog-->
<app-generic-dialog-model
    #deleteConfirmationDialog
    [title]="'Delete Confirmation'"
    [content]="'Are you sure you want to delete this category?'"
    [cancelButtonName]="'Cancel'"
    [confirmButtonName]="'Delete'"
>
</app-generic-dialog-model>

<app-generic-dialog-model
    #saveConfirmationDialog
    [title]="'Update Confirmation'"
    [content]="'Are you sure you want to save the updated task?'"
    [cancelButtonName]="'Cancel'"
    [confirmButtonName]="'Update'"
    [position]="'center'"
>
</app-generic-dialog-model>
