<div class="container-fluid my-3 wholeWrapper">
    <p class="createTaskHeader text-center text-white py-2 mb-0">Task Detail</p>

    <div *ngIf="currentToDoTask" class="contentWrapper pb-3">
        <div class="udButtonWrapper mx-4 py-3">
            <div *ngIf="!editMode" class="btn btn-primary px-3 py-1 me-auto" (click)="goBack()">Back</div>
            <div *ngIf="editMode" class=" btn btn-danger px-3 py-1 me-auto" (click)="cancelEdit()">Cancel</div>

            <div *ngIf="!editMode" class="btn btn-danger px-3 py-1 me-3" (click)="onTaskDelete()">Delete</div>
            <div *ngIf="!editMode" class="udButton btn btn-primary px-3 py-1" (click)="onTaskEdit()">Edit</div>
            <div *ngIf="editMode" class="btn btn-primary px-3 py-1 me-3" (click)="onUpdate()">Update</div>

        </div>

        <div class="detailWrapper rounded mx-4 px-3">
            <div class="individualField my-3">
                <h6>ToDoTask Id</h6>
                <p class="lead">todoId of task</p>
            </div>
            <div [ngClass]="{'haveCustomContentEditableChild': this.editMode}" class="individualField my-3">
                <h6>Task Title</h6>
                <!-- // example of attribute directive, basically we enclose a native html attribute in square bracket and
                // then it becomes a directive and now we can control the attribute based on our logics  -->
                <p #taskTitle [contentEditable]="this.editMode" class="lead"> Title of task</p>
            </div>
            <!-- g-0 equivalent to no-gutter, gutter is used for maintaining spacing between col of the rows -->
            <div [ngClass]="{'haveCustomContentEditableChild': this.editMode}" class="individualField my-3">
                <h6><span>Task Detail</span></h6>
                <p #taskDetail [contentEditable]="this.editMode" class="lead">Detail of task-Lorem Ipsum is simply dummy
                    text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially
                    unchanged. It was popularized in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="individualField my-3">
                <h6>Creation Time</h6>
                <p class="lead">creationTime of task</p>
            </div>
            <div class="individualField my-3">
                <h6>Updation Time</h6>
                <p class="lead">updationTime of task</p>
            </div>
            <div class="individualField  my-3">
                <h6>Task Status</h6>
                <p class="lead">taskStatus of task</p>
            </div>

        </div>

        <div *ngIf="!editMode" class="text-center pt-3">
            <div class="btn btn-success px-3 py-1 me-3">Mark as Done</div>
        </div>
    </div>


    <!-- //local reference kind of like pointer to the element or we can treat the div like a variable through this -->
    <div *ngIf="!currentToDoTask" #errorElement class="deletedIndicator">
        <img src="assets/images/to-do/deleted.png">
        <p class="lead">Task doesn't exist</p>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="removeModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>are you sure you want to delete the task?  </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal"
                    (click)="removeModal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="confirmTaskDeletion()">Confirm
                    Delete</button>
            </div>
        </div>
    </div>
</div>