.udButton {}

.wholeWrapper {}

.createTaskHeader {
    background-color: #2880ff;
}

.contentWrapper {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: aliceblue;
}

.udButtonWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.detailWrapper {
    background-color: #d9e6f7;
    /* https: //stackoverflow.com/questions/9519841/why-does-this-css-margin-top-style-not-work */
    overflow: auto
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.individualField {
    border-bottom: 0.1rem solid darkblue;
}

/* .individualField h6::after {
    content: '';
    background: rgba(255, 255, 255, 0);
    display: block;
    width: 15%;
    height: 0.1rem;
    border-bottom: 0.05rem solid green;
} */

.lead {
    font-size: 1rem;
}

.haveCustomContentEditableChild {
    border: 0px;
}

.haveCustomContentEditableChild p {
    background-color: #f4f4f5;
    transition: all 0.3s ease;
    border: 0px;
    outline: 0px solid transparent;
}

/* [contenteditable]:active {
    outline: 0px solid transparent;
    box-shadow: 0px 0px 25px 1px #0d6efd;

} */

.haveCustomContentEditableChild p:active {
    box-shadow: 0px 0px 25px 1px #0d6efd;
}

.haveCustomContentEditableChild p:focus {
    box-shadow: 0px 0px 25px 1px #0d6efd;
}

.haveCustomContentEditableChild p:hover {
    /* box-shadow: 0px 0px 5px 1px #0d6efd; */
}

.detailWrapper h6, .detailWrapper p {
    padding: 0rem 0.8rem;
}

.haveCustomContentEditableChild p {
    padding: 0.2rem 0.8rem;
}