.createTaskHeader {
    background-color: #2880ff;
}

.contentWrapper {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: aliceblue;
}

.udButtonWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.detailWrapper {
    background-color: #d9e6f7;
    /* https: //stackoverflow.com/questions/9519841/why-does-this-css-margin-top-style-not-work */
    overflow: auto
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.individualField {
    border-bottom: 0.1rem solid darkblue;
}

/* .individualField h6::after {
    content: '';
    background: rgba(255, 255, 255, 0);
    display: block;
    width: 15%;
    height: 0.1rem;
    border-bottom: 0.05rem solid green;
} */

.lead {
    font-size: 1rem;
}

.haveCustomContentEditableChild {
    border: 0px;
}

.haveCustomContentEditableChild .editInput {
    background-color: #f4f4f5;
    transition: all 0.3s ease;
    border: 0px;
    outline: 0px solid transparent;
}

/* [contenteditable]:active {
    outline: 0px solid transparent;
    box-shadow: 0px 0px 25px 1px #0d6efd;

} */

.haveCustomContentEditableChild .editInput:active {
    box-shadow: 0px 0px 25px 1px #0d6efd;
}

.haveCustomContentEditableChild .editInput:focus {
    box-shadow: 0px 0px 25px 1px #0d6efd;
}

.haveCustomContentEditableChild p:hover {
    /* box-shadow: 0px 0px 5px 1px #0d6efd; */
}

.detailWrapper h6, .detailWrapper p {
    padding: 0rem 0.8rem;
}

.haveCustomContentEditableChild .editInput {
    padding: 0.2rem 0.8rem;
}

/* doesn't work through here because this class is not in this component, need to apply on global css because this is added to body element */

.modal-open {
    padding-right: 0px !important;
}

.deletedIndicator {
    position: relative;
    height: 80vh;
    background-image: url('/assets/images/to-do/deletedbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* hack to remove the space created by image below parent div */
    overflow: hidden;
}

/* way to center a absoluted position element
.deletedIndicator p {
     position: absolute;
    left: 50%;
    bottom: 50%;
     // move 50% horizontal to left by it's own width and down vertically by it's own height
    transform: translateX(-50%) translateY(50%);
} */

.deletedIndicator p {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.deletedIndicator img {
    height: 100%;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.editInput {
    width: 100%;
    display: inline-block;
    height: min-content;
}