<div *ngIf="currentToDoTask" class="container-fluid my-3 wholeWrapper">
    <p  class="createTaskHeader text-center text-white py-2 mb-0">Task Detail</p>

    <div class="contentWrapper pb-3">
        <div class="udButtonWrapper mx-4 py-3">
            <div class="btn btn-primary px-3 py-1 me-auto" (click)="goBack()">Back</div>
            <div class="btn btn-primary px-3 py-1 me-3" (click)="onTaskEdit()">Edit</div>
            <div class="udButton btn btn-danger px-3 py-1">Delete</div>
        </div>

       <div class="detailWrapper rounded mx-4 px-3">
            <div class="individualField my-3">
                <h6>ToDoTask Id</h6>
                <p class="lead">todoId of task</p>
            </div>
            <div class="individualField my-3">
                <h6 >Task Title</h6>
                <p class="lead"> Title of task</p>
            </div>
            <!-- g-0 equivalent to no-gutter, gutter is used for maintaing spacing between col of the rows -->
            <div class="individualField my-3">
                <h6><span>Task Detail</span></h6>
                <p class="lead">Detail of task-Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="individualField my-3">
                <h6>Creation Time</h6>
                <p class="lead">creationTime of task</p>
            </div>
            <div class="individualField my-3">
                <h6>Updation Time</h6>
                <p class="lead">updationTime of task</p>
            </div>
            <div class="individualField  my-3">
                <h6>Task Status</h6>
                <p class="lead">taskStatus of task</p>
            </div>

       </div>

    <div class="text-center pt-3">
        <div class="btn btn-success px-3 py-1 me-3">Mark as Done</div>
    </div>
    </div>
</div>

<!-- //local reference kind of like pointer to the element or we can treat the div like a variable through this -->
<div *ngIf="!currentToDoTask" #errorElement class="container-fluid my-3 wholeWrapper"> Task is either deleted or doesn't exists</div>
