<div class="row detailWrapper mb-2">
    <div class="col-sm-6">

        <div class="categoryDetails p-3">

            <div class="categoryImageWrapper">
                <img src="/assets/images/to-do/category/4.png" alt="categoryIndicator">
            </div>
        </div>

    </div>


    <div class="col-sm-6">
        <div class="categoryDetails p-3">
            <div>
                <h2 class="categoryTitle">{{ currentCategory.getCategoryTitle() }}</h2>
                <h6>Created on {{ currentCategory.getCreationTime() }}</h6>
            </div>

            <div class="individualField  my-3">
                <h6>Category Id</h6>
                <p>{{ currentCategory.getCategoryId() }}</p>
            </div>

            <div class="individualField  mb-3">
                <h6>Category Description</h6>
                <p>{{ currentCategory.getCategoryDescription() }}</p>
            </div>


            <div class="individualField  mb-3">
                <h6>taskCount</h6>
                <p>{{ currentCategory.getTaskCount() }}</p>
            </div>

            <div class="individualField  mb-3">
                <h6>creationTime</h6>
                <p>{{ currentCategory.getCreationTime() }}</p>
            </div>

            <div class="individualField  mb-3">
                <h6>modifiedTime</h6>
                <p>{{ currentCategory.getModifiedTime() }}</p>
            </div>



            <div class="individualField  my-3">
                <h6>last Visited</h6>
                <p>last visited</p>
            </div>

            <div class="customizeCategory">

                <div class="interactiveIndicator">
                    <i class="far fa-edit fa-2x"></i>
                </div>

                <div class="interactiveIndicator">
                    <i class="far fa-save  fa-2x"></i>
                </div>

                <div class="interactiveIndicator ms-auto">
                    <i class="fas fa-trash-alt fa-2x"></i>
                </div>

            </div>

        </div>


    </div>

</div>