/* You can add global styles to this file, and also import other style files */

/* in angular.json in architect, styles array , put all the other third party library file before style.css so that style.css can override them
as in css last value is taken and all above for the same property is discarded */

/* @import "~../node_modules/bootstrap/dist/css/bootstrap.min.css"; */

/* below comes as a default from bootstrap(with some other default of its own like font etc.)
 , so we dont' need to put them explicitly */

/* @import "./sidebar-stye.css";  I have now updated it in angular.json */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    overflow: auto;
}

/* dashboard-body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: auto;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-size: .875rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    background-color: #e4e5e6;
}

.modal-open, .modal.show {
    padding-right: 0 !important;
}

.app, user-account, app-root, app-login, app-signup, app-not-found, app-internal-server-error {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-header {
    position: relative;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    /*background-color: #fff;*/
    /*border-bottom: 1px solid #c8ced3;*/
    /*box-shadow: 0 1px 4px rgb(64 87 109 / 7%);*/
    /*box-shadow: -15px 8px 15px -15px #111;*/

/*    // this is nothing but for case when we want to use multiple box-shadow of different color or same color at once, as
    // if we do it by defining and doing then css will use the latest one, so this way, css understand that all of these
    // box-shadow has to be used on element
    */
    box-shadow: -25px 8px 15px -15px #111, 25px 8px 15px -15px #111;
    /*box-shadow: 0 8px 15px -15px #111, 0 1px 2px #111;*/
}

.app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
}

.app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center;
}

.app-header .navbar-nav .dropdown-menu {
    position: absolute;
}

.app-header .nav-item .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    background: 0;
    border: 0;
}

p {
    margin-bottom: .2rem;
}

body {
    font-size: .875rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    background-color: #e4e5e6;
}

app-footer {
    margin-top: auto;
}




