/* You can add global styles to this file, and also import other style files */

 /* @import "~../node_modules/bootstrap/dist/css/bootstrap.min.css"; */

 /* below comes as a default from bootstrap(with some other default of its own like font etc.)
 , so we dont' need to put them explicitly */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: auto;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

body {
    font-size: .875rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


.app, app-dashboard, app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}


p {
    margin-bottom: .2rem;
}