/* You can add global styles to this file, and also import other style files */

/* in angular.json in architect, styles array , put all the other third party library file before style.css so that style.css can override them
as in css last value is taken and all above for the same property is discarded */

 /* @import "~../node_modules/bootstrap/dist/css/bootstrap.min.css"; */

 /* below comes as a default from bootstrap(with some other default of its own like font etc.)
 , so we dont' need to put them explicitly */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: auto;
}

/* body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: auto;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



body {
    font-size: .875rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    background-color: #e4e5e6;
}


.app, app-dashboard, app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.app-header {
    position: relative;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}

.app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center;
}

.app-header .navbar-nav .dropdown-menu {
    position: absolute;
}

.app-header .nav-item .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    background: 0;
    border: 0;
}


@media (min-width: 992px) {
    .app-header {
        position: fixed;
        z-index: 1020;
        width: 100%;
    }
}

p {
    margin-bottom: .2rem;
}

body {
    font-size: .875rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    background-color: #e4e5e6;
}

.app-footer {
    margin-top: auto;
}

@media (min-width: 992px) {
    .app-footer, .main-content {
        margin-left: 200px;
    }
}

.app-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    .app-body {
        margin-top: 55px;
    }
}


.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #2f353a;
}

@media (min-width: 992px) {
     .sidebar {
        /* height value computed : 614px */
        height: calc(100vh - 55px);
        position: fixed;
        z-index: 1019;
        width: 200px;
        /* height value computed : 669px */
        /* height: 100vh; */
        /* width: 20px; */
    }
}

.app-header, .app-footer, .main-content, .sidebar {
    transition: margin-left .25s,margin-right .25s,width .25s,flex .25s;
}

.app-body .main-content {
    flex: 1;

}
