<div class="profileDetailWrapper">
    <div class="login-box">
        <div class="loadingIndicator to do"></div>
        <div class="login text-center h5">
            Change Password
        </div>
        <div class="text-center">
            <div class="websiteNameWrapper">
                
                <span data-bn-type="text" class="urlDecoration">https://</span>
                mss.com
            </div>
        </div>
        <!-- Note that there is no relation of [formGroup] with form type element, we can use it for even normal div also -->
        <form [formGroup]="changePasswordEditForm">
    
            
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="form-label">Current Password</label>
                        <input type="password" [formControlName]="'curPassword'"  autocomplete="on" class="form-control" placeholder="Current password"
                               aria-label="Server">
                    </div>
                    <span class="text-danger" *ngIf="invalidFormSubmission">
                                <span class="help-block errorInfo"
                                      *ngIf="changePasswordEditForm.get('curPassword')?.errors?.required">
                                     <i class="errorIcon fas fa-info-circle me-1"></i>
                                    Current Password is required
                                </span>
                        </span>
                </div>
                
                
            </div>
            
            <div class="row">
                <!--                     dividing the row into two parts of column through col-sm-6 staring from small device see css for more info about breakpoints
                                so for extra small device it will automatically be stacked applied by bootstrap for rol and col -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label class="form-label">New Password</label>
                        
                        <input [formControlName]="'newPassword'" type="password" placeholder="Password"
                               class="form-control" autocomplete="off" required>
    
                        <span class="text-danger" *ngIf="invalidFormSubmission">
                                    <span class="help-block errorInfo"
                                          [hidden]="!changePasswordEditForm.get('newPassword')?.errors?.required">
                                         <i class="errorIcon fas fa-info-circle me-1"></i>
                                        New Password is required
                                    </span>
                        </span>
                        
                    </div>
                </div>
                
                <div class="col-md-6 mb-3">
                    <div class="form-group" >
                        <label  class="form-label">Confirm Password</label>
                        
                        <input [formControlName]="'confirmPassword'" type="password" placeholder="Password"
                               class="form-control" autocomplete="off"
                               required>
                        <span style="display: flex; flex-direction: column">
                            <span class="text-danger" *ngIf="invalidFormSubmission">
                                    <span class="help-block errorInfo"
                                          [hidden]="!changePasswordEditForm.get('confirmPassword')?.errors?.required">
                                         <i class="errorIcon fas fa-info-circle me-1"></i>
                                        Confirm Password is required
                                    </span>
                            </span>
        
                            <span class="text-danger" *ngIf="invalidFormSubmission">
                                <span class="help-block errorInfo"  [hidden]="!changePasswordEditForm?.errors?.passwordsMismatch">
                                     <i class="errorIcon fas fa-info-circle me-1"></i>
                                    Passwords do not match
                                </span>
                            </span>
                            </span>
                        
                    </div>
                </div>
                
                <span class="text-danger" *ngIf="">
                        <span *ngIf="changePasswordEditForm.get('email')?.errors?.required" class=" help-block">
                            Username is required
                        </span>
                        <span class="help-block" *ngIf="changePasswordEditForm.get('email')?.errors?.email">
                            Invalid username
                        </span>
                    </span>
            
            </div>
    
            <div type="submit" class="btn btn-primary customEditButton" (click)="onUpdatePasswordAction($event)">Update
            </div>
        </form>
    </div>
</div>
