:host {
    display: flex;
    color: darkslategray;
}

p {
    margin: 1rem;
    font-size: 8vmin;
}


.customCursor {
    border-right: solid 3px rgba(44, 14, 214, 0.75);
    animation: animated-cursor 600ms steps(29,end) infinite;
}

/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color: rgba(44, 14, 214, 0.75);}
    to{border-right-color: transparent;}
}

