<div class="card text-center" style="max-width: 100%; height: 100%">
    <div class="card-header">
        <p>{{ currentTaskCategory.getTaskCount() > 0 ? "Task Count - " + currentTaskCategory.getTaskCount() : "No-Tasks"
            }}</p>
    </div>
    <div class="card-body categoryBody">

        <div class="imageWrapper">
            <img src="/assets/images/to-do/category/9.png">
        </div>
        <!-- <div class="titleWrapper m-auto"></div> -->
            <h6 class="card-title m-auto mt-3 mb-0 custom-text-truncate"> Category Title adsfffffffffffff fdddddd
                ddddddddddddgdfssssssssssadfssssdffffffffffff {{ currentTaskCategory.getCategoryTitle() }} </h6>
        <!-- </div> -->
        <!-- <p class="card-text custom-text-truncate">
            Category Description - {{ currentTaskCategory.getCategoryDescription() }}
        </p> -->
    </div>
    <a class="btn btn-primary m-auto mb-3" (click)="onViewClick()">View more</a>
    <div class="card-footer text-muted">
        {{ currentTaskCategory.getTaskCount() > 0 ? "Task Count - " + currentTaskCategory.getTaskCount() : "No-Tasks" }}
    </div>
</div>